<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <!-- we import arjs version without NFT but with marker + location based support -->
    <script src="/static/aframe-ar.js"></script>
    <body style="margin : 0px; overflow: hidden;">
        <a-scene embedded arjs>
            <a-marker preset="hiro">
                <a-entity
                position="0 -1 0"
                scale="0.05 0.05 0.05"
                gltf-model="/static/Sphere.glb"
                ></a-entity>
            </a-marker>
            <a-marker preset="kanji">
            <a-entity
            position="0 -1 0"
            scale="0.05 0.05 0.05"
            gltf-model="/static/Circle.glb"
            ></a-entity>
        </a-marker>
        <a-marker preset="ZenMarkerOne">
            <a-entity
            position="0 -1 0"
            scale="0.05 0.05 0.05"
            gltf-model="/static/Sphere.glb"
            ></a-entity>
        </a-marker>
        <a-marker preset="ZenMakerTwo">
            <a-entity
            position="0 -1 0"
            scale="0.05 0.05 0.05"
            gltf-model="/static/Circle.glb"
            ></a-entity>
        </a-marker>
        <a-marker preset="ZenMakerThree">
            <a-entity
            position="0 -1 0"
            scale="0.05 0.05 0.05"
            gltf-model="/static/HaloGhost.gltf"
            ></a-entity>
        </a-marker>
        <a-entity camera></a-entity>
        </a-scene>
    </body>
</html>
